.main-content-footer {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background: #d3edce3d;
}

.main-content-footer-copyright {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}

.main-content-footer-strong {
    color: #1d1d1d;
}