.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background: #d3edce3d;
}

.logo {
    width: 29px;
}

.log-out {
    all: unset;
    display: flex;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #16a085;
    border-radius: 5px;
    cursor: pointer;
}