.container {
  display: flex;
}

.menu-content {
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease-in;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.menu-content-header {
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 2rem;
  display: grid;
  align-items: center;
}

.menu-content-header-h2 {
  text-wrap: nowrap;
}

.menu-content-body {
  padding-left: 2rem;
}

.box-content-header {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: white;
  height: calc(4rem - 4px);
  padding: 0 1.5rem;
  transition: margin-left 0.3s;
}

.box-content-header-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.box-content-header-h1 {
  padding-left: 0.6rem;
}

@media (min-width: 768px) {
  .menu-content.open {
    width: 320px;
  }

  .box-content.open {
    width: calc(100% - 320px);
  }
}
